/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #FFA500;
    background-color: #f4f4f4;
}

/* Estilos de la cabecera */
header {
    background-color: #FFA500;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos del contenido principal */
main {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

section {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Pie de página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Estilos Responsivos */
@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}
